html {
}
body {
    min-width:350px;
}

ul {
    margin:0px;
    list-style-type: none;
    padding-left: 0px;
}

ul li {
    vertical-align: top;
    margin:5px;
}

#no-milesplit {
	color: red;
}

button {
    margin: 5px auto 0px auto;
    display:block;
}

table tr td {
    vertical-align:top;
}
table tr th {
    text-align: left;
}
td.spacer {
	width: 10px;
}

.placeholder {
    min-height: 20px;
    background-color: #eee;
}

img {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    align: top;
    cursor: grab;
    margin-bottom: -3px;
}
